body{
    text-align: center;
}
.marron{
    color: brown;
}
.rouge{
    color: red;
}
.orange{
    color: orange;
}
.vert{
    color: green;
}
.bleu{
    color: blue;
}
.or{
    color: gold;
}